<div>
    <h1>Chat Clientes</h1>
    <form onsubmit="return addMsj(this)">
    <input id="mail" type="email">
    <input id="msj" type="text">
    <input id="msjenv" type="submit" value="Enviar">
    </form>
    <p id="chat"></p>

</div>
